html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  background: #060420;
  font-family: 'Roboto Mono', monospace;
}

.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board{
  height: 90vh;
  width: 90vh;
  background: linear-gradient(45deg, red, pink, orange, yellow, purple);
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  grid-gap: 3vh;
  margin: 0;
}

.cell{
  position: relative;
  background: #060420;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: -1px;
}


.outer{
  display: none;
  position: absolute;
  height: 80%;
  width: 80%;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(45deg, purple, pink, orange, purple, #060420);

}

.inner{
  display: none;
  position: absolute;
  height: 65%;
  width: 65%;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #060420;
}

.axis1{
  display: none;
  position: absolute;
  width: 10%;
  height: 90%;
  background: linear-gradient(45deg, purple, pink, orange, purple);
  transform: rotate(45deg);
}

.axis2{
  display: none;
  position: absolute;
  width: 10%;
  height: 90%;
  background: linear-gradient(45deg, purple, pink, orange, purple);
  transform: rotate(-45deg);
}

button{
  width: 100%;
  font-weight: bold;
  font-size: 3vh;
  padding: 1vh;
  border: 2px solid pink;
  border-radius: 5px;
  color: #0E0A4D;
  background: linear-gradient(45deg, red, pink, orange, yellow, purple);
  opacity: 0.8;
  margin: 2vh;
  transition: .7s;
}
button:hover{
  opacity: 1;
  border: 2px solid #F9D3ED;
}
.display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15vh;
}

.score{
  margin: 2vh;
  font-weight: bold;
  font-size: 10vh;
  color: #F9D3ED;
}
span{
  color: pink;
  margin: 3vh;
}


.visible{
  display: block;
}

.inactive{
  pointer-events: none;
}

.winner .outer{
  animation: rotate-circle 2s ease-out;
}

.winner .axis1{
  animation: rotate-axis1 2s ease-out;
}

.winner .axis2{
  animation: rotate-axis2 2s ease-out;
}

@keyframes rotate-circle {
  0%{
    transform: translate(-50%, -50%) rotate(0deg) ;
    
  }
  to{
    transform: translate(-50%, -50%) rotate(720deg) ;
  }
}

@keyframes rotate-axis1 {
  0%{
    transform: rotate(45deg);
  }
  to{
    transform: rotate(765deg);
  }
}

@keyframes rotate-axis2 {
  0%{
    transform: rotate(-45deg);
  }
  to{
    transform: rotate(675deg);
  }
}

@media only screen and (max-width: 1200px ){
  .board{
    height: 70vh;
    width: 70vh;
    grid-gap: 2vh;
    margin: auto;
  }

  .display{
    margin: auto;
  }

  button:active{
  transform: scale(1.2);
}

}

@media only screen and (orientation: portrait){
  
  .wrapper{
    flex-direction: column;
    justify-content: space-around;
  }

  .board{
    height: 90vw;
    width: 90vw;
    grid-gap: 3vw;
  }

  .display{
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #xScoreDisplay{
    grid-area: 1/1/2/2;
  }

  #oScoreDisplay{
    grid-area: 2/1/3/2;
  }

  .score{
    margin: 2vw;
    font-size: 10vw;
  }

  span{
    margin: 3vw;
  }
  .resetGameButton{
    grid-area: 1/2/2/3
  }

  .resetScoreButton{
    grid-area: 2/2/3/3;
  }

  button{
    width: 100%;
    font-size: 3vw;
    padding: 1vw;
    margin: 2vw;
  }

  button:active{
  transform: scale(1.2);
  }
}




